boot/loader.o
boot/kernel.elf
drivers/keyboard.o
drivers/timer.o
drivers/tty.o
kernel.elf
kernel/arch/cpu/idt.o
kernel/arch/cpu/interrupt.o
kernel/arch/cpu/irq.o
kernel/arch/cpu/isr.o
kernel/arch/paging.o
kernel/kmain.o
kernel/lib/low_io.o
kernel/lib/printf.o
kernel/lib/stdio.o
kernel/lib/string.o
kernel/memory/bmheap.o
kernel/memory/malloc.o
kernel/memory/memory.o
GPATH
GTAGS
GRTAGS
chaos.iso
kernel.elf
.dir-locals.el
